<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
 
    <section class="vh-100 bg-image">
    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
  <p th:text="${session.message.content}"></p>
  
  <th:block th:text="${#session.removeAttribute('message')}"></th:block>
</div>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card mb-3" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-4">Create an account</h2>
    
                                <form novalidate th:action="@{/do_register}" method="post" th:object='${user}' class="validation">
    
                                    <div class="form-outline mb-4">
                                        
                                        <input type="text" id="name_field" th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}" th:value="${user.name}" name="name" class="form-control form-control-lg" required />
                                		<label class="form-label" for="name_field">Your Name</label>
                                        <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
      									
    									</div>
                                    </div>
    
                                    <div class="form-outline mb-4">
                                        <input type="email" id="email_field" th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}" th:value="${user.email}" name="email" class="form-control form-control-lg" />
                                        <label class="form-label" for="email_field">Your Email</label>
                                         <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}">
      									
    									</div>
                                    </div>
    
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password_field" class="form-control form-control-lg" name="password"/>
                                        <label class="form-label" for="password_field">Password</label>
                                    </div>
    
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password_field1" name="password1" class="form-control form-control-lg" />
                                        <label class="form-label" for="password_field1">Repeat your password</label>
                                    </div>
                                    
                                    <div class="form-outline mb-4">
                                        <textarea id="about" rows="3" class="form-control th:value="${user.about}" name="about"  form-control-lg"></textarea>
                                        <label class="form-label" for="about">Enter something about yourself</label>
                                    </div>
    
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" name="agreement" type="checkbox" 
                                            id="form2Example3cg" />
                                        <label class="form-check-label" for="form2Example3g">
                                            I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                                    service</u></a>
                                        </label>
                                    </div>
    
                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                    </div>
                                    
                                    <p class="text-center text-muted mt-4 mb-0">Forgot paswword? <a href="#!"
                                            class="fw-bold text-body"><u>Reset</u></a></p>
    
                                    <p class="text-center text-muted mt-4 mb-0">Have already an account? <a href="#!"
                                            class="fw-bold text-body"><u>Login here</u></a></p>
    
                                </form>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
    </script>
</body>
</html>